<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Footer</title>
    
</head>
<body>
    <div class="d-flex p-2 flex-column flex-wrap align-content-center" style="background-color:#5a5a5a;">
        <div class="d-flex p-2 flex-md-row flex-column gap-3 flex-wrap align-content-center">
            <div>
                <Image src="/img/logo-footer.png" rounded  style="margin-left:-65%; margin-right:auto;" />
                <br/>
                <p style="color:#FF9933; text-align:left;">CÔNG TY CPĐT & THIẾT KẾ NỘI THẤT NADU</p>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-map-marker me-2" aria-hidden="true"></i>
                    Hà Nội: Lô E9, A10, KĐT Nam Trung Yên, Cầu giấy
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-map-marker me-2" aria-hidden="true"></i>
                    TP HCM: Số 20, Đường số 5, Cityland Center Hills, Phường 7, Quận Gò Vấp
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-phone me-2" aria-hidden="true"></i>
                    024 73066138 - Mobile:0904 666 138
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-envelope-o me-2" aria-hidden="true"></i>
                    info@nadudesign@gmail.com
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-globe me-2" aria-hidden="true"></i>
                    adudesign.com
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-industry me-2" aria-hidden="true"></i>
                    Số 7 Đường số 7, Nguyễn Thông, TP HCM
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-barcode me-2" aria-hidden="true"></i>
                    MSDN: 123487890
                </div>
                <div style="color:white; text-align:left;"> 
                <i class="fa fa-map me-2" aria-hidden="true"></i>
                    <a href="">Bản đồ chỉ dẫn</a>
                </div>
            
            </div>
            <div><br/>
                <h5 style="color:white;">CHÍNH SÁCH</h5>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left ; margin-left:2px;">Hình thức thanh toán</h6>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left;">Bảo mật thông tin</h6>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left;">Vận chuyển giao nhận</h6>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left;">Bảo hành - Đổi trả</h6>
            </div>
            <div><br/>
            <h5 style="color:white;">TIN TỨC</h5>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left ; margin-left:2px;">Hình thức thanh toán</h6>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left;">Bảo mật thông tin</h6>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left;">Vận chuyển giao nhận</h6>
                <hr style="color:white;"/>
                <h6 style="color:white; text-align:left;">Bảo hành - Đổi trả</h6>
            </div>
            <div ><br/>
                <h5 style="color:white;">THEO DÕI CHÚNG TÔI</h5>
                <img height="50px" weight="50px" src="../../Public/images/youtube1.png" />
                <img height="50px" weight="50px" src="../../Public/images/zalo_sharelogo.png" />
                <img height="50px" weight="50px" src="../../Public/images/fb-logo.png" />
                <br/>
                <br/>
                <!-- <Image height="50px" weight="50px" src="./images/logoSaleNoti.png"/>
                <br/>
                <br/>
                <Image height="50px" weight="50px" src="./images/logoThongbao.png"/> -->

            </div>
        </div>
        <div>
        <hr style="color:white; width:100%;"/>
         <p  style="color:white;">   NaDu Design 2019. All rights reserved  </p>
        </div>
    </div>
</body>
</html>