<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span>
        <a class="navbar-brand" href="./index.html" style="padding-left: 10px; color: #FF9900;">Diamond</a>
        <img style="width: 50px;" src="img/DIAMOND.ico" alt="Logo">
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>          
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="./index.html">Giới thiệu</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="Products2.html" target="_blank">Sản phẩm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Signio.html" target="_blank">Đăng nhập</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="SignUp.html" target="_blank">Đăng ký</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Contact.html" target="_blank">Liên hệ</a>
          </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" style="width: 8em">Tìm kiếm</button>
      </form>
    </div>
  </nav>